@charset "utf-8";
/* CSS Document */

/* Clase para darle estilos al body*/
.music-detox {
	background: #5C7583;
}

/* Clase para darle estilos al logo */
.logo-img {
	text-align: center;
	padding: 0px;
}

.logo-img img {
	height: 200px;
}

/* Clase para darle estilos a los Iconos Sociales*/

.redes-sociales {
	text-align: center;
	padding: 5px;
}

.redes-sociales img {
	border-radius: 10px;
}

/* Clase para darle estilos a la Barra de navegacion*/

.barra-navegacion {
    text-align: center;
}

