@charset "utf-8";
/* CSS Document */

/* Clase para darle estilos al body*/
.music-detox {
	background: #5C7583;
}

/*Clase para darle estilos al encabezado*/
.contenedor-encabezado {
	position: relative;
}

/* Clase para darle estilos al logo */
.logo-img img {
	height: 200px;
}

/* Clase para darle estilos a los Iconos Sociales*/
.redes-sociales {
	text-align: right;
}
.social {
	border-radius: 10px;
}

/*Clase para darle estilos a el contenido*/
.img-formulario {
	width: 30px;
	border-radius: 5px;
}

/*Clase para darle estilos a el Buscador*/
.img-buscador {
	width: 30px;
	border-radius: 5px;
}

.opciones-busqueda {
	border-radius: 5px;
}

.busquedar {
    visibility: hidden;
}

@media (max-width: 720px) {
	.opciones-busqueda {
    	visibility: hidden;
		height: 1px;
	}
	.busqueda {
		height: 60px;
	}
	.logo-img {
		text-align: center;
	}
	.redes-sociales {
		text-align: center;
	}
}